<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết bài viết</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <a href="/">Về trang chủ</a>
    <hr>
    <h1><%= post.title %></h1>
    <p><strong>Mã bài viết:</strong> <%= post.id %></p>
    <p><strong>Nội dung:</strong> <%= post.description %></p>
</body>
</html>